*{
    margin: 0;
    color: black;
    text-decoration: none;
}

.header {
    background-color: #f1f1f1;
    padding: 10px;
    
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    color: black;
    margin-right: 650px; 
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar li a {
    color: black;
    text-decoration: none;
    padding: 20px 16px;
    align-items: center;
    border-radius: 18px;
}

.nav-bar li a:hover {
    background-color: #fff;
}

.dropdown {
    color: #000;
    position: relative;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    color: black;
    position: absolute;
    background-color: #ffffff;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

.drop-button {
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.logoWrapper {
  margin-left: 32px;
}


